html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../images/logInBackground.jpg");
}

.header {
    margin-right: 50%;
    width: 100%;
}

.header p {
    text-align: center;
    color: #A52A2A;
    font-family: sans-serif;
    font-size: 70px;
}

.header span {
    color: black;
    text-align: center;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px; /*set to a negative number 1/2 of your height*/
    margin-left: -155px; /*set to a negative number 1/2 of your width/ 270+2*20=310*/
    padding: 20px 20px 50px 20px;
    background: rgba(128, 128, 128, 0.5);
}

.login input {
    position: center;
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-bottom: 10px;
}

.login input[type=button] {
    width: 260px;
    height: 35px;
    background: #A52A2A;
    border: 1px solid #A52A2A;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 5px;
}

.login input:focus {
    outline: none;
}

.login input[type=button]:hover {
    opacity: 0.5;
}

.login input[type=button]:active {
    opacity: 0.5;
}

.login input[type=button]:focus {
    outline: none;
    border: 1px solid #A52A2A;
}

::-webkit-input-placeholder {
    color: #A52A2A;
}
