body {
    margin-top: 0;
    font-family: sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.map {
    height: 100%;
    width: 100%;
}

#date {
    margin: 10px 10px 10px 10px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: sans-serif;
}

form {
    padding: 8px 8px 8px 32px;
}

input[type=text] {
    width: 100px;
    height: 24px;
    background: transparent;
    border: 1px solid #818181;
    color: #cccccc;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;
}

input[type=button] {
    width: 50px;
    height: 30px;
    background: #818181;
    border: 1px solid #818181;
    cursor: pointer;
    border-radius: 2px;
    color: #111111;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 2px;
}